# **THE BIGGEST SANITY CHECK OF ALL TIME**
- This notebook will tell us if we summarized our zip codes correctly

In [1]:
import pandas as pd

In [2]:
#reading in MOTHEROFMOTHERS
df = pd.read_csv('./datasets/MOTHEROFMOTHERS.csv')
df.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,zip_code,count,latitude,longitude,Price_1,Price_2,Price_3,...,wine_bars,wineries,winetasteclasses,winetastingroom,winetours,womenscloth,wraps,yelpevents,yoga,zoos
0,0,1,1,90001,30,33.976530,-118.249230,18,12,0,...,0,0,0,0,0,0,0,0,0,0
1,1,2,2,90002,4,33.948102,-118.248582,3,1,0,...,0,0,0,0,0,0,0,0,0,0
2,2,3,3,90003,20,33.971906,-118.272539,16,4,0,...,0,0,0,0,0,0,0,0,0,0
3,3,4,4,90004,29,34.076563,-118.310331,10,19,0,...,0,0,0,0,0,0,0,0,0,0
4,4,5,5,90005,45,34.059083,-118.298835,11,33,1,...,0,0,0,0,0,0,0,0,0,0

In [3]:
df.shape

(2423, 501)

In [4]:
df.isnull().sum().sum()

0

In [6]:
list(df.columns)

['Unnamed: 0',
 'Unnamed: 0.1',
 'Unnamed: 0.1.1',
 'zip_code',
 'count',
 'latitude',
 'longitude',
 'Price_1',
 'Price_2',
 'Price_3',
 'Price_4',
 'Rating_1',
 'Rating_1.5',
 'Rating_2',
 'Rating_2.5',
 'Rating_3',
 'Rating_3.5',
 'Rating_4',
 'Rating_4.5',
 'Rating_5',
 'count_businesses',
 'city',
 'Unnamed: 0.2',
 'index',
 'zip_code.1',
 'category1',
 'category2',
 'category3',
 'category4',
 'category5',
 'all',
 'list_cat',
 'cat_list',
 'acaibowls',
 'accessories',
 'active',
 'acupuncture',
 'adultedu',
 'afghani',
 'african',
 'airportlounges',
 'amusementparks',
 'antiques',
 'aquariums',
 'arabian',
 'arcades',
 'argentine',
 'armenian',
 'artclasses',
 'artmuseums',
 'arts',
 'artsandcrafts',
 'artschools',
 'artsupplies',
 'asianfusion',
 'attractionfarms',
 'australian',
 'austrian',
 'ayurveda',
 'bagels',
 'bakeries',
 'balloonservices',
 'bangladeshi',
 'banks',
 'barbers',
 'bars',
 'bartenders',
 'basque',
 'bbq',
 'beachequipmentrental',
 'beaches',
 'bedbreakfast',
 'beer_and_wine',
 'beerbar',
 'beergardens',
 'beertours',
 'belgian',
 'beverage_stores',
 'bike_repair_maintenance',
 'bikerentals',
 'bikes',
 'bingo',
 'boatcharters',
 'boating',
 'bocceball',
 'bookstores',
 'bowling',
 'brasseries',
 'brazilian',
 'breakfast_brunch',
 'breweries',
 'brewingsupplies',
 'brewpubs',
 'british',
 'bubbletea',
 'buffets',
 'burgers',
 'burmese',
 'butcher',
 'cabaret',
 'cafes',
 'cafeteria',
 'cajun',
 'cakeshop',
 'cambodian',
 'campgrounds',
 'candy',
 'cantonese',
 'careercounseling',
 'caribbean',
 'carwash',
 'casinos',
 'catalan',
 'catering',
 'champagne_bars',
 'cheese',
 'cheesesteaks',
 'chicken_wings',
 'chickenshop',
 'childcloth',
 'childrensmuseums',
 'chinese',
 'chocolate',
 'churches',
 'cideries',
 'cigarbars',
 'clubcrawl',
 'cocktailbars',
 'coffee',
 'coffeeroasteries',
 'colombian',
 'comedyclubs',
 'comfortfood',
 'comicbooks',
 'contractors',
 'convenience',
 'conveyorsushi',
 'cookingclasses',
 'cookingschools',
 'cosmetics',
 'countrydancehalls',
 'couriers',
 'creperies',
 'cuban',
 'culturalcenter',
 'cupcakes',
 'customcakes',
 'czech',
 'danceclubs',
 'delis',
 'deptstores',
 'desserts',
 'dimsum',
 'diners',
 'dinnertheater',
 'discgolf',
 'distilleries',
 'divebars',
 'diyfood',
 'djs',
 'dog_parks',
 'donuts',
 'drugstores',
 'eatertainment',
 'education',
 'egyptian',
 'electronicsrepair',
 'empanadas',
 'eritrean',
 'escapegames',
 'ethiopian',
 'eventplanning',
 'eventservices',
 'facepainting',
 'falafel',
 'farmersmarket',
 'farms',
 'fashion',
 'festivals',
 'filipino',
 'fishing',
 'fishnchips',
 'fleamarkets',
 'floraldesigners',
 'florists',
 'flowers',
 'fondue',
 'food',
 'food_court',
 'fooddeliveryservices',
 'foodstands',
 'foodtours',
 'foodtrucks',
 'french',
 'galleries',
 'gamemeat',
 'gardeners',
 'gardening',
 'gardens',
 'gastropubs',
 'gaybars',
 'gelato',
 'georgian',
 'german',
 'giftshops',
 'gluten_free',
 'gokarts',
 'golf',
 'golfequipment',
 'golflessons',
 'gourmet',
 'greek',
 'grocery',
 'guamanian',
 'guesthouses',
 'guitarstores',
 'guns_and_ammo',
 'gyms',
 'hainan',
 'haitian',
 'halal',
 'hardware',
 'hats',
 'hawaiian',
 'headshops',
 'healthmarkets',
 'herbalshops',
 'herbsandspices',
 'hiking',
 'himalayan',
 'historicaltours',
 'hkcafe',
 'hobbyshops',
 'homedecor',
 'honduran',
 'honey',
 'hookah_bars',
 'horseracing',
 'hospitals',
 'hostels',
 'hotdog',
 'hotdogs',
 'hotels',
 'hotelstravel',
 'hotpot',
 'hottubandpool',
 'hungarian',
 'huntingfishingsupplies',
 'icecream',
 'importedfood',
 'indonesian',
 'indoor_playcenter',
 'indpak',
 'interiordesign',
 'internetcafe',
 'intlgrocery',
 'irish',
 'irish_pubs',
 'italian',
 'izakaya',
 'japacurry',
 'japanese',
 'jazzandblues',
 'jewelry',
 'jewelryrepair',
 'juicebars',
 'karaoke',
 'kebab',
 'kids_activities',
 'kitchensupplies',
 'knittingsupplies',
 'kombucha',
 'korean',
 'kosher',
 'lakes',
 'lancenters',
 'landmarks',
 'landscaping',
 'laotian',
 'lasertag',
 'latin',
 'laundromat',
 'lebanese',
 'livestocksupply',
 'localflavor',
 'localservices',
 'lounges',
 'macarons',
 'magicians',
 'mags',
 'mailboxcenters',
 'malaysian',
 'marinas',
 'markets',
 'massage',
 'massage_therapy',
 'meats',
 'medcenters',
 'media',
 'mediterranean',
 'menshair',
 'mexican',
 'mideastern',
 'mini_golf',
 'mobilephonerepair',
 'modern_european',
 'mongolian',
 'moroccan',
 'motorcycledealers',
 'motorcyclinggear',
 'mountainbiking',
 'movietheaters',
 'museums',
 'musicalinstrumentsandteachers',
 'musicians',
 'musicvenues',
 'musicvideo',
 'newamerican',
 'newmexican',
 'nicaraguan',
 'nightlife',
 'nonprofit',
 'noodles',
 'nutritionists',
 'oliveoil',
 'opticians',
 'organic_stores',
 'othersalons',
 'outdoorgear',
 'paddleboarding',
 'paintandsip',
 'paintyourownpottery',
 'pakistani',
 'panasian',
 'pancakes',
 'parks',
 'partybikerentals',
 'partyequipmentrentals',
 'partysupplies',
 'pastashops',
 'persian',
 'personalassistants',
 'personalchefs',
 'peruvian',
 'pet_sitting',
 'petadoption',
 'pets',
 'petstore',
 'pettingzoos',
 'pharmacy',
 'photoboothrentals',
 'piadina',
 'pianobars',
 'pickyourown',
 'pizza',
 'playgrounds',
 'poke',
 'polish',
 'polynesian',
 'poolbilliards',
 'poolhalls',
 'popcorn',
 'popuprestaurants',
 'popupshops',
 'portuguese',
 'postoffices',
 'poutineries',
 'preschools',
 'pretzels',
 'propane',
 'publicmarkets',
 'publicservicesgovt',
 'pubs',
 'puertorican',
 'pumpkinpatches',
 'rafting',
 'ramen',
 'ranches',
 'raw_food',
 'recording_studios',
 'recreation',
 'religiousitems',
 'resorts',
 'restaurants',
 'rock_climbing',
 'russian',
 'rvparks',
 'salad',
 'salvadoran',
 'sandwiches',
 'sardinian',
 'saunas',
 'scandinavian',
 'scottish',
 'seafood',
 'seafoodmarkets',
 'senegalese',
 'service_stations',
 'servicestations',
 'shanghainese',
 'sharedofficespaces',
 'shavedice',
 'shavedsnow',
 'shipping_centers',
 'shoes',
 'shopping',
 'shoppingcenters',
 'sicilian',
 'singaporean',
 'skateshops',
 'skatingrinks',
 'skiresorts',
 'sledding',
 'slovakian',
 'smokehouse',
 'social_clubs',
 'somali',
 'soulfood',
 'soup',
 'southafrican',
 'southern',
 'souvenirs',
 'spanish',
 'spas',
 'speakeasies',
 'specialtyschools',
 'spiritual_shop',
 'sportgoods',
 'sportsbars',
 'sportswear',
 'srilankan',
 'steak',
 'streetvendors',
 'supperclubs',
 'suppliesrestaurant',
 'sushi',
 'swimmingpools',
 'syrian',
 'szechuan',
 'tabletopgames',
 'tacos',
 'taiwanese',
 'tanning',
 'tapas',
 'tapasmallplates',
 'tcm',
 'tea',
 'teppanyaki',
 'tex-mex',
 'thai',
 'theater',
 'themedcafes',
 'threadingservices',
 'tikibars',
 'tobaccoshops',
 'tours',
 'toys',
 'tradamerican',
 'travelservices',
 'trinidadian',
 'triviahosts',
 'tubing',
 'turkish',
 'tuscan',
 'ukrainian',
 'usedbooks',
 'uzbek',
 'vacation_rentals',
 'vapeshops',
 'vegan',
 'vegetarian',
 'venezuelan',
 'venues',
 'veteransorganizations',
 'videoandgames',
 'vietnamese',
 'vintage',
 'vinyl_records',
 'virtualrealitycenters',
 'visitorcenters',
 'vitaminssupplements',
 'waffles',
 'walkingtours',
 'waterdelivery',
 'waterstores',
 'waxing',
 'wedding_planning',
 'weightlosscenters',
 'whiskeybars',
 'wholesale_stores',
 'wholesalers',
 'wine_bars',
 'wineries',
 'winetasteclasses',
 'winetastingroom',
 'winetours',
 'womenscloth',
 'wraps',
 'yelpevents',
 'yoga',
 'zoos']

### Sanity Check
- We're going to see index 22 (aka zip code) and see all the unique business categories the zip code offers
- At the same time, we're going to return all columns where the cell value equals 1 (both of these lists should match)- excluding counts of businesses

In [42]:
df['cat_list'][22]

"['?' 'acaibowls' 'asianfusion' 'bakeries' 'breakfast_brunch' 'breweries'\n 'bubbletea' 'buffets' 'burgers' 'cafes' 'cajun' 'catering'\n 'chicken_wings' 'chinese' 'cocktailbars' 'coffee' 'comfortfood'\n 'creperies' 'customcakes' 'delis' 'desserts' 'diners' 'donuts'\n 'fooddeliveryservices' 'french' 'gastropubs' 'gluten_free' 'greek'\n 'grocery' 'halal' 'hawaiian' 'hookah_bars' 'hotdogs' 'icecream'\n 'indonesian' 'indpak' 'italian' 'japanese' 'juicebars' 'korean'\n 'lebanese' 'mediterranean' 'mexican' 'mideastern' 'newamerican' 'noodles'\n 'persian' 'pharmacy' 'pizza' 'poke' 'ramen' 'salad' 'sandwiches'\n 'seafood' 'sportsbars' 'steak' 'sushi' 'tapasmallplates' 'tea' 'thai'\n 'tradamerican' 'vegan' 'vegetarian' 'wine_bars']"

In [41]:
#checking specific row where cells ==1 (whihc returns column names)
df.columns[(df == 1).iloc[22]]

Index(['Rating_5', 'acaibowls', 'asianfusion', 'bakeries', 'breakfast_brunch',
       'breweries', 'bubbletea', 'buffets', 'burgers', 'cafes', 'cajun',
       'catering', 'chicken_wings', 'chinese', 'cocktailbars', 'coffee',
       'comfortfood', 'creperies', 'customcakes', 'delis', 'desserts',
       'diners', 'donuts', 'fooddeliveryservices', 'french', 'gastropubs',
       'gluten_free', 'greek', 'grocery', 'halal', 'hawaiian', 'hookah_bars',
       'hotdogs', 'icecream', 'indonesian', 'indpak', 'italian', 'japanese',
       'juicebars', 'korean', 'lebanese', 'mediterranean', 'mexican',
       'mideastern', 'newamerican', 'noodles', 'persian', 'pharmacy', 'pizza',
       'poke', 'ramen', 'salad', 'sandwiches', 'seafood', 'sportsbars',
       'steak', 'sushi', 'tapasmallplates', 'tea', 'thai', 'tradamerican',
       'vegan', 'vegetarian', 'wine_bars'],
      dtype='object')

# They match!
- Note: We matched multiple rows to make sure the data is consistent

In [38]:
df.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,zip_code,count,latitude,longitude,Price_1,Price_2,Price_3,...,wine_bars,wineries,winetasteclasses,winetastingroom,winetours,womenscloth,wraps,yelpevents,yoga,zoos
0,0,1,1,90001,30,33.976530,-118.249230,18,12,0,...,0,0,0,0,0,0,0,0,0,0
1,1,2,2,90002,4,33.948102,-118.248582,3,1,0,...,0,0,0,0,0,0,0,0,0,0
2,2,3,3,90003,20,33.971906,-118.272539,16,4,0,...,0,0,0,0,0,0,0,0,0,0
3,3,4,4,90004,29,34.076563,-118.310331,10,19,0,...,0,0,0,0,0,0,0,0,0,0
4,4,5,5,90005,45,34.059083,-118.298835,11,33,1,...,0,0,0,0,0,0,0,0,0,0