# This notebook will give reasons why the IRS data is a bad indicator of neighborhood affluence

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('./datasets/16zpallagi.csv')
df.head()

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,PREP,N2,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,1,AL,0,1,815440,477700,105350,221200,440830,1296920,...,367320,330066,0,0,0,0,63420,51444,711580,1831661
1,1,AL,0,2,495830,211930,142340,128890,272440,996240,...,398050,984297,0,0,0,0,74090,110889,416090,1173463
2,1,AL,0,3,263390,83420,137870,36340,154880,584000,...,253180,1349246,0,0,0,0,64000,143060,195130,543284
3,1,AL,0,4,167190,29420,124060,10610,99700,421720,...,165830,1425430,0,0,0,0,45020,128920,117410,381329
4,1,AL,0,5,217440,20240,188080,4880,129410,601040,...,216720,3922449,390,155,60,19,82940,423629,126130,506526

- Taking the weighted average based on number of returns for 90210 returns an income class of 3.9
- This is very false since the median income for 90210 people are ~150k

# Scratch Work that led us to believe IRS data is bad

In [16]:
df[   df['zipcode'] == 90210]['N1']

10221    2100
10222    1110
10223     740
10224     650
10225    1360
10226    3530
Name: N1, dtype: int64

In [20]:
df[   df['zipcode'] == 90210]['N1'].sum()

9490

In [17]:
df[   df['zipcode'] == 90210]['A00100']

10221      21573
10222      40650
10223      45652
10224      56176
10225     196669
10226    5378943
Name: A00100, dtype: int64

In [18]:
#this computes the total income for all 6 classes in 90210
(5378943*3530) + (196669*1360) + (56176*650) + (45652*740) + (40650*1110) + (2100*21573)

19415860310

In [19]:
#dividing total by total number of returns
# this is not even close to the average income in 90210
19415860310/9490

2045928.3782929399

In [38]:
df[   df['zipcode'] == 99929]['A00100']

4487     4699
4488     9295
4489    10222
4490     7908
4491    20495
4492        0
Name: A00100, dtype: int64

In [39]:
df[   df['zipcode'] == 99929]['A00100'].sum()

52619

In [35]:
df[   df['zipcode'] == 99929]['N1'].sum()

1070

In [36]:
df[   df['zipcode'] == 99929]['N1']

4487    410
4488    260
4489    170
4490     90
4491    140
4492      0
Name: N1, dtype: int64

In [37]:
((410/1070)*1) +((260/1070)*2) +((170/1070)*3) +((90/1070)*4) +((140/1070)*5)

2.336448598130841

In [40]:
((410/1070)*4699) +((260/1070)*9295) +((170/1070)*10222) +((90/1070)*7908) +((140/1070)*20495)

9029.953271028036

# Conclusion:
- We are not proceeding with the IRS data to receive our target variable. 
- Therefore based on my research, I am using incomebyzipcode.com as the crux of the accuracy of my targt variable 

incomebyzipcode.com is trusted by the following companies:
<img src= "./visuals/trusted.png">