# This notebook will combine the potential features with the median we scraped

In [1]:
import pandas as pd

In [2]:
mother = pd.read_csv('./datasets/MOTHEROFMOTHERS.csv')
mother.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,zip_code,count,latitude,longitude,Price_1,Price_2,Price_3,...,wine_bars,wineries,winetasteclasses,winetastingroom,winetours,womenscloth,wraps,yelpevents,yoga,zoos
0,0,1,1,90001,30,33.976530,-118.249230,18,12,0,...,0,0,0,0,0,0,0,0,0,0
1,1,2,2,90002,4,33.948102,-118.248582,3,1,0,...,0,0,0,0,0,0,0,0,0,0
2,2,3,3,90003,20,33.971906,-118.272539,16,4,0,...,0,0,0,0,0,0,0,0,0,0
3,3,4,4,90004,29,34.076563,-118.310331,10,19,0,...,0,0,0,0,0,0,0,0,0,0
4,4,5,5,90005,45,34.059083,-118.298835,11,33,1,...,0,0,0,0,0,0,0,0,0,0

In [3]:
all_zips = list(mother['zip_code'])

In [4]:
len(all_zips)

2423

### Reading all the target variables we scraped

In [5]:
zip1 = pd.read_csv('./datasets/target1.csv')
zip2 = pd.read_csv('./datasets/target2.csv')
zip3 = pd.read_csv('./datasets/target3.csv')
zip4 = pd.read_csv('./datasets/target4.csv')
zip5 = pd.read_csv('./datasets/target5.csv')
zip6 = pd.read_csv('./datasets/target6.csv')

In [6]:
#dropping all Unnamed columns
zip1.drop(labels = 'Unnamed: 0', axis = 'columns', inplace= True)
zip2.drop(labels = 'Unnamed: 0', axis = 'columns', inplace= True)
zip3.drop(labels = 'Unnamed: 0', axis = 'columns', inplace= True)
zip4.drop(labels = 'Unnamed: 0', axis = 'columns', inplace= True)
zip5.drop(labels = 'Unnamed: 0', axis = 'columns', inplace= True)
zip6.drop(labels = 'Unnamed: 0', axis = 'columns', inplace= True)

In [7]:
#sanity
zip6.head()

     zip  income
0  98601   61071
1  98604   76193
2  98605   53864
3  98607   96842
4  98610   38615

In [8]:
#combining all 6 target variable DFs and calling it zips
frames = [zip1, zip2, zip3, zip4, zip5, zip6]

zips = pd.concat(frames)

In [9]:
#sanity check
zips.head()

     zip  income
0  90001   35660
1  90002   34000
2  90003   34397
3  90004   46581
4  90005   32461

In [10]:
#sanity check
zips.dtypes

zip       int64
income    int64
dtype: object

In [11]:
#sanity check
zips.isnull().sum()

zip       0
income    0
dtype: int64

In [12]:
#sanity check
zips.shape

(2354, 2)

In [13]:
#sanity check
zips['zip'].nunique()

2354

### Organizing list of zip codes to:
- List of zip codes where target variable is 0 (called `zero_zips`)
- List of zip codes where target variable is not zero (called `good_zips`)
- List of zip codes where it is missing target variables completely (called `missing_zips`)

In [14]:
#all zip codes that are zero 
zero_zips = zips[zips['income'] ==0]

In [15]:
good_zips = zips[zips['income'] != 0]

In [16]:
len(zero_zips)

55

In [25]:
zero_zips_only = list(zero_zips['zip'])

In [26]:
good_zips_only = list(good_zips['zip'])

In [27]:
len(good_zips_only)

2299

In [30]:
missing_zips = list(set(all_zips) - set(zero_zips_only)- set(good_zips_only))

In [31]:
len(missing_zips)

69

In [32]:
#sanity check
2299+69+55

2423

In [33]:
#list of zip codes where we are missing our target variable 
missing_zips

[97540,
 98821,
 98310,
 92551,
 98312,
 95365,
 95624,
 98056,
 91917,
 96142,
 97426,
 97050,
 92315,
 98590,
 98847,
 92320,
 95006,
 95521,
 95401,
 97065,
 93612,
 92333,
 98606,
 95407,
 94519,
 98360,
 98619,
 94525,
 96703,
 92225,
 91202,
 95425,
 95682,
 93637,
 92230,
 95430,
 97603,
 97731,
 98506,
 90049,
 92620,
 92624,
 94937,
 99674,
 91740,
 94044,
 95070,
 92256,
 92257,
 96738,
 98660,
 95460,
 98406,
 98662,
 93543,
 98537,
 94954,
 99179,
 95467,
 95722,
 97136,
 95345,
 94706,
 97137,
 98548,
 97522,
 98036,
 93304,
 90620]

In [34]:
#list of zip codes where target variable is 0
zero_zips_only

[90031,
 90071,
 90241,
 91980,
 92055,
 92060,
 92135,
 92258,
 92341,
 93452,
 93541,
 93928,
 94060,
 94128,
 94573,
 94922,
 94972,
 95033,
 95140,
 95234,
 95305,
 95364,
 95471,
 95494,
 95537,
 95601,
 95728,
 95962,
 96126,
 96155,
 96759,
 96826,
 96853,
 96857,
 96859,
 96860,
 97011,
 97204,
 97331,
 97486,
 98101,
 98201,
 98238,
 98283,
 98330,
 98364,
 98421,
 98438,
 98444,
 98535,
 98555,
 98614,
 98616,
 99510,
 99605]

In [35]:
#sanity
69+55

124

In [37]:
#sanity
124+2299

2423

In [39]:
#where we have the target variable for these zip codes
good_zips.shape

(2299, 2)

In [41]:
#sanity
2423-2299

124

In [42]:
#sanity
good_zips.head()

     zip  income
0  90001   35660
1  90002   34000
2  90003   34397
3  90004   46581
4  90005   32461

In [43]:
#sanity
good_zips.tail()

       zip  income
235  99835   70765
236  99840   70673
237  99901   67321
238  99921   58047
239  99929   55742

In [44]:
good_zips.reset_index(inplace = True)

In [45]:
good_zips.head()

   index    zip  income
0      0  90001   35660
1      1  90002   34000
2      2  90003   34397
3      3  90004   46581
4      4  90005   32461

In [47]:
good_zips.shape

(2299, 3)

In [48]:
#saving zip code and target variable where we scraped the income 
good_zips.to_csv('./datasets/GOODZIPS2299.CSV')

In [51]:
#sanity and seeing the min and max of median income... income disparity is a huge problem in America
# but this is capitalism 
good_zips['income'].describe()

count      2299.000000
mean      66859.515876
std       28568.179233
min        2500.000000
25%       46729.500000
50%       60754.000000
75%       80758.500000
max      250000.000000
Name: income, dtype: float64

In [55]:
good_zips[good_zips['income'] == 250000]
#in the heart of seattle

      index    zip  income
1885    145  98164  250000

In [56]:
good_zips[good_zips['income'] > 140000]
#expensive neighorhoods will be talked about when going over feature selection

      index    zip  income
58       60  90077  184722
61       63  90210  149732
81       84  90266  148899
83       86  90272  180962
84       87  90274  158497
99      102  90402  140179
160     163  91011  160288
173     176  91108  152553
181     184  91210  155833
226     229  91436  159965
371     377  92130  141926
527     536  92657  215000
533     542  92673  144331
538     547  92679  153053
543     552  92694  154384
572     581  92861  143077
816     828  94022  208984
817     829  94024  220970
819     831  94028  244671
827     840  94062  146450
829     842  94065  160313
831     844  94070  153291
840     853  94105  199364
841     854  94107  143467
847     860  94114  143902
856     869  94127  151094
857     871  94129  190167
864     878  94301  146488
870     884  94402  140186
877     891  94506  186378
878     892  94507  202336
886     900  94517  140361
891     905  94526  141761
899     913  94539  160542
906       3  94549  155225
917      14  94563  185066
922      19  94569  142905
930      28  94582  149859
962      60  94707  143297
973      71  94920  159423
991      90  94957  243214
1005    105  95014  150529
1011    111  95030  180222
1021    122  95054  140890
1038    139  95120  171908
1055     13  95138  159311
1316    283  95837  225000
1414    382  96125  159167
1854    113  98074  160618
1855    114  98075  163409
1856    115  98077  144193
1885    145  98164  250000