In [ ]:
# run this command from terminal
#
# jupyter nbextension enable --py gmaps

In [1]:
import pandas as pd
import gmaps
from IPython.display import clear_output
gmaps.configure(api_key='API KEY')

In [2]:
df = pd.read_csv('./datasets/WestCoast.csv');
df.head()

/Users/jawaid/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,address,category1,category2,category3,category4,category5,city,id,latitude,longitude,name,phone,price,rating,zip_code
0,71,1517 E Florence Ave,mexican,NaN,NaN,NaN,NaN,Los Angeles,RVJ7CtzHbSIXySMJ7uJw9w,33.974990,-118.246960,El Senor Taco,1.323582e+10,$,3.5,90001
1,109,7600 Graham Ave,parks,playgrounds,recreation,NaN,NaN,Los Angeles,73_9SM3HCAPZi6VmjjY2Rg,33.970200,-118.242040,Franklin D Roosevelt Park,1.323587e+10,NaN,4.5,90001
2,111,NaN,desserts,chocolate,NaN,NaN,NaN,Los Angeles,XuDsBBkKMgyb19qrCG-Vxw,33.973630,-118.249890,Brigadier Sweets,1.213281e+10,$$,5.0,90001
3,118,NaN,foodtrucks,african,NaN,NaN,NaN,Los Angeles,E02jtyN7b9LJW8bJwX97kA,33.978530,-118.249700,African Chop,1.408430e+10,NaN,4.5,90001
4,129,757 S La Brea Ave,foodtrucks,mexican,NaN,NaN,NaN,Los Angeles,KWKkQHHwVBPS_4abj-DaYw,34.060716,-118.344931,Huitlacoche,1.323381e+10,$,4.5,90017

In [3]:
df.dtypes

Unnamed: 0      int64
address        object
category1      object
category2      object
category3      object
category4      object
category5      object
city           object
id             object
latitude      float64
longitude     float64
name           object
phone         float64
price          object
rating        float64
zip_code       object
dtype: object

In [4]:
#keeping only zip ocdes that start with 9
df = df[df['zip_code'].astype(str).str.startswith('9')]

In [5]:
df.shape

(82870, 16)

In [6]:
df.head()

,Unnamed: 0,address,category1,category2,category3,category4,category5,city,id,latitude,longitude,name,phone,price,rating,zip_code
0,71,1517 E Florence Ave,mexican,NaN,NaN,NaN,NaN,Los Angeles,RVJ7CtzHbSIXySMJ7uJw9w,33.974990,-118.246960,El Senor Taco,1.323582e+10,$,3.5,90001
1,109,7600 Graham Ave,parks,playgrounds,recreation,NaN,NaN,Los Angeles,73_9SM3HCAPZi6VmjjY2Rg,33.970200,-118.242040,Franklin D Roosevelt Park,1.323587e+10,NaN,4.5,90001
2,111,NaN,desserts,chocolate,NaN,NaN,NaN,Los Angeles,XuDsBBkKMgyb19qrCG-Vxw,33.973630,-118.249890,Brigadier Sweets,1.213281e+10,$$,5.0,90001
3,118,NaN,foodtrucks,african,NaN,NaN,NaN,Los Angeles,E02jtyN7b9LJW8bJwX97kA,33.978530,-118.249700,African Chop,1.408430e+10,NaN,4.5,90001
4,129,757 S La Brea Ave,foodtrucks,mexican,NaN,NaN,NaN,Los Angeles,KWKkQHHwVBPS_4abj-DaYw,34.060716,-118.344931,Huitlacoche,1.323381e+10,$,4.5,90017

In [7]:
#sanity check
df.index.is_monotonic

True

In [8]:
df['price'] = df['price'].map({'$': 1, '$$': 2, '$$$': 3, '$$$$': 4})

In [9]:
df['price'].value_counts(dropna = False)

2.0    37719
1.0    29171
NaN    13535
3.0     2086
4.0      359
Name: price, dtype: int64

In [10]:
df['zip_code'].isnull().sum()

0

In [13]:
while True:
    zip = input('Enter a zip code: ')
    clear_output()
    
    if zip == '':
        break
       
    yelp = df[df['zip_code'] == zip ]
    
    red = yelp[yelp['price']==1][['latitude', 'longitude']]
    green = yelp[yelp['price']==2][['latitude', 'longitude']]
    blue = yelp[yelp['price']==3][['latitude', 'longitude']]
    purple = yelp[yelp['price']==4][['latitude', 'longitude']]

    fig = gmaps.figure()
    fig.add_layer(gmaps.symbol_layer(red, stroke_color='red'))
    fig.add_layer(gmaps.symbol_layer(green, stroke_color='green'))
    fig.add_layer(gmaps.symbol_layer(blue, stroke_color='blue'))
    fig.add_layer(gmaps.symbol_layer(purple, stroke_color='purple'))
    display(fig)