# Same Modeling Method as Phase 1 but with select Lasso

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./datasets/ALLMOTHERS.csv')
df.head()

,Unnamed: 0,Unnamed: 0.1,zip_code,count,latitude,longitude,Price_1,Price_2,Price_3,Price_4,...,city_Yorba Linda,city_Yosemite National Park,city_Yountville,city_Yreka,city_Yuba City,city_Yucaipa,city_Yucca Valley,city_Zamora,city_Zillah,city_carlsbad
0,0,0,90001,30,33.976530,-118.249230,18,12,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,90002,4,33.948102,-118.248582,3,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,2,90003,20,33.971906,-118.272539,16,4,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,3,90004,29,34.076563,-118.310331,10,19,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,4,90005,45,34.059083,-118.298835,11,33,1,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
main_list = ['acaibowls',
 'asianfusion',
 'bakeries',
 'breakfast_brunch',
 'bubbletea',
 'cafes',
 'coffee',
 'cupcakes',
 'desserts',
 'french',
 'gluten_free',
 'greek',
 'indpak',
 'italian',
 'japanese',
 'mediterranean',
 'mideastern',
 'newamerican',
 'persian',
 'pizza',
 'salad',
 'sandwiches',
 'seafood',
 'sushi',
 'thai',
 'turkish',
 'vegetarian',
 'vietnamese',
 'wine_bars',
 'city_Alamo',
 'city_Bellevue',
 'city_Beverly Hills',
 'city_Carlsbad',
 'city_Corona Del Mar',
 'city_Cupertino',
 'city_Danville',
 'city_Fremont',
 'city_Irvine',
 'city_Issaquah',
 'city_Kensington',
 'city_La Cañada Flintridge',
 'city_Ladera Ranch',
 'city_Los Altos',
 'city_Los Gatos',
 'city_Malibu',
 'city_Manhattan Beach',
 'city_Menlo Park',
 'city_Mercer Island',
 'city_Moraga',
 'city_Moss Beach',
 'city_Newport Beach',
 'city_Orinda',
 'city_Pacific Palisades',
 'city_Palo Alto',
 'city_Pleasanton',
 'city_Port Costa',
 'city_Portola Valley',
 'city_Redwood City',
 'city_Rolling Hills Estate',
 'city_Ross',
 'city_Sammamish',
 'city_San Francisco',
 'city_San Jose',
 'city_San Marino',
 'city_San Mateo',
 'city_San Ramon',
 'city_Santa Clara',
 'city_Saratoga',
 'city_Seattle',
 'city_Sierra City',
 'city_Sunnyvale',
 'city_Tiburon',
 'city_Trabuco Canyon',
 'city_Villa Park',
 'city_Woodinville',
 'city_Woodside',
 'city_Yorba Linda',
 'price_2_percentage',
 'price_3_percentage',
 'rate_4_percentage',
 'casinos',
 'galleries',
 'salvadoran',
 'soulfood',
 'city_Avery',
 'city_Bodfish',
 'city_Clearlake',
 'city_Desert Hot Springs',
 'city_Detroit',
 'city_El Monte',
 'city_Fresno',
 'city_Hemet',
 'city_Inglewood',
 'city_Los Angeles',
 'city_Marblemount',
 'city_Miramonte',
 'city_Oroville',
 'city_San Bernardino',
 'city_Sierraville',
 'city_Skamokawa',
 'city_Slab City',
 'city_Spokane',
 'city_Stockton',
 'city_Sumpter',
 'city_Thermal',
 'city_Vernon',
 'city_Wilderville',
 'price_1_percentage',
 'rate_2_percentage',
 'count']

In [4]:
len(main_list)

110

# Creating X and y

In [5]:
X = df[main_list]
y = df['income']

# Lasso Time!

In [20]:
from sklearn.linear_model import Lasso
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline

In [21]:
pipe = Pipeline([
    ('l', Lasso())
])

pipe_params = {
    'l__alpha': [0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1],
  
   
}


gs = GridSearchCV(pipe, param_grid=pipe_params, cv=5, n_jobs = 3)


gs.fit(X, y)


print(gs.best_score_)
gs.best_params_

0.17375533174828717

{'l__alpha': 1}

In [23]:
lasso = Lasso(alpha=1)

In [24]:
lasso.fit(X, y)

Lasso(alpha=1, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False)

In [25]:
coefficients = list(lasso.coef_)

In [26]:
cols = list(X.columns)

In [27]:
lasso_pd = pd.DataFrame()

In [28]:
lasso_pd['coef'] = coefficients
lasso_pd['column_name'] = cols

In [29]:
lasso_pd.shape

(110, 2)

In [30]:
pd.set_option('display.max_rows', 110)

In [31]:
lasso_pd.sort_values(by=['coef'])

              coef                column_name
95   -59686.344710             city_Miramonte
94   -48058.555582           city_Marblemount
105  -44427.789392                city_Vernon
98   -35586.740738           city_Sierraville
86   -35274.888439             city_Clearlake
88   -34519.185418               city_Detroit
103  -33727.605438               city_Sumpter
85   -26792.384712               city_Bodfish
104  -24432.405372               city_Thermal
99   -23957.861562             city_Skamokawa
84   -23845.993101                 city_Avery
100  -23609.130509             city_Slab City
101  -18757.520231               city_Spokane
106  -18045.752982           city_Wilderville
87   -17833.570983    city_Desert Hot Springs
97   -16658.425293        city_San Bernardino
96   -15411.862291              city_Oroville
90   -15378.348392                city_Fresno
91   -14491.310338                 city_Hemet
102  -13829.584220              city_Stockton
89   -11049.897424              city_El Monte
83    -8676.934853                   soulfood
107   -8455.944171         price_1_percentage
93    -6984.725575           city_Los Angeles
81    -6730.538808                  galleries
82    -6510.455383                 salvadoran
80    -5538.558169                    casinos
92    -5107.150269             city_Inglewood
108   -2035.409748          rate_2_percentage
22    -1151.255203                    seafood
16    -1043.674891                 mideastern
26     -610.302619                 vegetarian
109    -408.867394                      count
2        84.584978                   bakeries
3       199.851488           breakfast_brunch
27      280.133114                 vietnamese
19      853.723086                      pizza
1      1435.342038                asianfusion
28     1556.350976                  wine_bars
10     1730.212194                gluten_free
79     1792.658934          rate_4_percentage
17     1878.040694                newamerican
4      1913.999768                  bubbletea
24     2011.068296                       thai
5      2163.709688                      cafes
6      2219.759446                     coffee
20     2340.727104                      salad
8      2513.333336                   desserts
13     2723.550903                    italian
15     2728.956158              mediterranean
21     3094.912843                 sandwiches
18     4420.346645                    persian
12     4495.995818                     indpak
9      4628.845380                     french
11     4802.936956                      greek
14     5222.834109                   japanese
23     5785.019028                      sushi
25     6150.108094                    turkish
7      6462.230790                   cupcakes
77     6814.743253         price_2_percentage
0      7650.943839                  acaibowls
68    11963.531042               city_Seattle
31    13342.116653         city_Beverly Hills
37    14005.198526                city_Irvine
32    19496.666313              city_Carlsbad
53    23651.675962             city_Palo Alto
30    25654.939980              city_Bellevue
78    26686.199230         price_3_percentage
61    28283.505746         city_San Francisco
66    28757.618316           city_Santa Clara
70    30386.239135             city_Sunnyvale
62    31430.680304              city_San Jose
46    32668.482377            city_Menlo Park
64    32875.289046             city_San Mateo
57    34548.850890          city_Redwood City
50    34726.788663         city_Newport Beach
33    35802.452359        city_Corona Del Mar
76    38695.318674           city_Yorba Linda
54    42760.117166            city_Pleasanton
36    44650.298853               city_Fremont
44    47217.261888                city_Malibu
39    49974.609929            city_Kensington
38    52049.890494              city_Issaquah
48    53261.829011                city_Moraga
74    54030.743192           city_Woodinville
72    54518.924093        city_Trabuco Canyon
41    61092.189506          city_Ladera Ranch
49    63533.296712            city_Moss Beach
63    64335.019248            city_San Marino
34    65039.350912             city_Cupertino
35    67262.034785              city_Danville
45    68910.068386       city_Manhattan Beach
75    71953.115658              city_Woodside
65    72035.662955             city_San Ramon
47    73089.951029         city_Mercer Island
55    74018.911538            city_Port Costa
40    76804.316475  city_La Cañada Flintridge
43    79972.811538             city_Los Gatos
73    80453.351231            city_Villa Park
67    82964.180624              city_Saratoga
58    84530.546991  city_Rolling Hills Estate
71    89901.257846               city_Tiburon
60    95432.380864             city_Sammamish
51    95966.587296                city_Orinda
69    98133.370946           city_Sierra City
52   113991.328301     city_Pacific Palisades
29   120925.684731                 city_Alamo
42   135179.084146             city_Los Altos
59   163374.336703                  city_Ross
56   175574.774568        city_Portola Valley

# Conclusion:
- We're just going to keep the 110 features